{% extends "base.html" %}

{% block title %}Anno domini - новости{% endblock %}
{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="/static/css/padder-news.css" />
{% endblock %}
{% block content %}
	<div id="sub-nav-strip"></div>
	<div id="content">
		<div id="subblock">
			{% include "subnav_news.html" %}
			<div id="article">
		        <h1>{{ category.name }}</h1>
		        <ul class="news-list">		        	
		        	{% for news in page.object_list %}
					<li>
						<a href="/news/{{ category.slug }}/{{ news.slug }}/"><img src="{{ news.thumbnail.url }}" /></a>
						<h3><a href="/news/{{ category.slug }}/{{ news.slug }}/">{{ news.date|date:"d.m.Y" }}</a></h3>
						{% if news.preliminary_text %}
						{% autoescape off %}
						{{ news.preliminary_text }}
						{% endautoescape %}
						{% endif %}
					</li>
		        	{% endfor %}
				</ul>
				{% if page.paginator.num_pages > 1 %}
				{% load util_tags %}
				<div class="pagination">
					<ul>					
					{% if page.has_previous %}
			            <li><a href="?page={{ page.previous_page_number }}">Назад</a></li>
			        {% endif %}
			        
			        {% for linkpage in page.paginator.num_pages|get_natural_range %}
						{% ifequal linkpage page.number %}
							<li><a class="current">{{ linkpage }}</a></li>
						{% else %}
							<li><a href="?page={{ linkpage }}">{{ linkpage }}</a></li>
						{% endifequal %}
					{% endfor %}
					
					{% if page.has_next %}
			            <li><a href="?page={{ page.next_page_number }}">Вперёд</a></li>
			        {% endif %}
					</ul>
				</div>
				{% endif %}
	    	</div>
	    </div>
	</div>
    
{% endblock %}
{% block arrows %}
	<a href="{{ prev }}" title="Предыдущий раздел" id="leftArrow"></a>
	<a href="{{ next }}" title="Следующий раздел" id="rightArrow"></a>
{% endblock %}