{% extends "base.html" %}

{% block title %}Anno domini - {{ news.name }}{% endblock %}
{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="/static/css/padder-news.css" />
{% endblock %}
{% block extra_scripts %}
	{% include "util/scrollable.html" %}
{% endblock %}
{% block content %}
	<div id="sub-nav-strip"></div>
	<div id="content">
		<div id="subblock">
			{% include "subnav_news.html" %}
			<div id="article">
				<h1 id="release-heading">{{ news.category.name }}</h4>        	
				<h2>{{ news.name }}</h2>
			{% autoescape off %}
				{% if news.preliminary_text %}
				{{ news.preliminary_text }}
				{% endif %}
				{% if news.main_text %}
				{{ news.main_text }}
				{% endif %}
			{% endautoescape %}			
			</div>
		</div>
	</div>        		
{% endblock %}
{% block arrows %}
	<a href="{{ prev }}" title="Предыдущий раздел" id="leftArrow"></a>
	<a href="{{ next }}" title="Следующий раздел" id="rightArrow"></a>
{% endblock %}
{% block footer %}
{% load thumbnail %}
	<div id="footer">
		<a href="#" id="toggleContent"></a>
		
		{% if news.photos.all %}
		<div class="thumbsbar">
			<a class="prev browse left"></a>
			<div class="scrollable" id="scrollable">
				<div class="items">
					<div>
					{% for photo in news.photos.all %}						
						<img src="{% thumbnail photo.image 175x75 %}" alt="{{ photo.image.url }}" />
						{% if forloop.counter|divisibleby:4 %}
					</div>
					<div>
						{% endif %}
					{% endfor %}
					</div>					
				</div>
			</div>
			<a class="next browse right"></a>
		</div>
		{% endif %}
	</div>
{% endblock %}