<script type="text/javascript" src="/static/js/jquery.tools.min.js"></script>
<script>
	$(function() {
		// initialize scrollable
		$(".scrollable").scrollable();
		function galleryClick(thumbnail) {
			if ($(thumbnail).hasClass("active")) { return; }
			var url = $(thumbnail).attr("alt");
			var wrap = $("#background").fadeTo("medium", 0.5);

			function loadImage() {	
				var img = new Image();
				img.onload = function() {
					wrap.fadeTo("fast", 1);
					wrap.find("img").attr("src", url);
				};
				img.src = url;
			};
			window.setTimeout(loadImage, 350);

			$(".items img").removeClass("active");
			$(thumbnail).addClass("active");
		};
		$(".items img").click(function() {
			galleryClick(this);
		});
		galleryClick($(".items img").filter(":first"));
	});
</script>
<style>div#footer{	height: 125px;}</style>