<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Anno Domini™{% endblock %}</title>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<link rel="shortcut icon" href="favicon.ico" />
	<link href='http://fonts.googleapis.com/css?family=Poiret+One|Open+Sans:600italic,600,400italic,400&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	{% block extra_styles %}{% endblock %}
	{% block background_styles %}
		{% if background %}
		<link rel="stylesheet" type="text/css" href="/static/css/{{ background.style }}" />
		{% endif %}
	{% endblock %}
	<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/static/js/jquery.jscrollpane.min.js"></script>
	<script type="text/javascript" src="/static/js/site.js"></script>
	{% block extra_scripts %}{% endblock %}
</head>
<body>
	<div id="header">
		<div id="logo"><a href="/"><img src="/static/img/logo.png" alt="Anno Domini" width="200" height="106" /></a></div>
		{% block main_menu %}
		<div id="header-bar">
			<ul id="nav-main">
			{% load util_tags %}
				<li><a href="/" id="{% active request "^$" %}"></a></li>
				<li><a href="/about/" id="{% active request "^/about/" %}">О компании</a></li>
				<li><a href="/news/" id="{% active request "^/news/" %}">Новости</a></li>
				<li><a href="/projects/" id="{% active request "^/projects/" %}">Фильмы</a></li>
				<li><a href="/production/" id="{% active request "^/production/$" %}">Production</a></li>
				<li><a href="/product-placement/" id="{% active request "^/product-placement/$" %}">Product Placement</a></li>
			</ul>
		</div>
		{% endblock %}
	</div>
{% block sub_menu %}{% endblock %}
{% block content %}
	<div id="index-spacer"></div>
{% endblock %}
{% block arrows %}{% endblock %}
{% block background %}
	
	<div id="background">
		
		<img src="{% if background %}{{ background.preloader.url }}{% else %}/static/img/default.png{% endif %}" id="bg-picture" />
		<div id="overlay"></div>

		{% if background %}
		<div class="video_background">
			<video autoplay loop muted poster="{{ background.preloader.url }}" id="bg-video">
			{% if background.video_mp4 %}
				<source src="{{ background.video_mp4.url }}" type="video/mp4" />
			{% endif %}
			{% if background.video_ogg %}
				<source src="{{ background.video_ogg.url }}" type="video/ogg" />
			{% endif %}
			{% if background.video_webm %}
				<source src="{{ background.video_webm.url }}" type="video/webm" />
			{% endif %}
				<img src="{{ background.preloader.url }}" id="bg-video-poster" />
			</video>
		</div>
		{% endif %}
		<div id="bg-medium"></div>
	</div>
{% endblock %}
{% block footer %}
	<div id="footer">
		<a href="#" id="toggleContent" title="Галерея"></a>
	</div>
{% endblock %}
</body>
</html>