<div id="sub-nav">
	<ul>					
		{% load util_tags %}
		<li><a href="/about/history/" id="{% active request "^/about/history/$" %}">История</a></li>
        <li><a href="/about/team/" id="{% active request "^/about/team/" %}">Команда</a></li>
        <li><a href="/about/contact/" id="{% active request "^/about/contact/$" %}">Контактная информация</a></li>
	</ul>
</div>