<div id="sub-nav">
	<ul>					
		{% load util_tags %}
		{% for category in category_list %}
		<li>
			<a href="/projects/{{ category.slug }}/" id="{% active_project_category request category.slug %}">
				{{ category.name }}
			</a>
		</li>
        {% endfor %}
	</ul>
</div>