{% extends "base.html" %}

{% block title %}Anno domini - фильмы{% endblock %}
{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="/static/css/padder-projects.css" />
{% endblock %}
{% block content %}
	<div id="sub-nav-strip"></div>
	<div id="content">
		<div id="subblock">
			{% include "subnav_project.html" %}
			<div id="article">
		        <h1>{{ category.name }}</h1>
		        <ul>
		        {% load thumbnail %}
		        {% for project in category.projects.all %}
		        	<div class="project-list {% cycle 'left' 'right' %}">
						<a href="/projects/{{ category.slug }}/{{ project.slug }}">
							<img src="{% thumbnail project.thumbnail 310x200 crop %}" />
						</a>
						<h3><a href="/projects/{{ category.slug }}/{{ project.slug }}">{{ project.name }}</a></h3>
						{% if project.preliminary_text %}
						{% autoescape off %}
						{{ project.preliminary_text }}
						{% endautoescape %}
						{% endif %}
					</div>	
		        {% endfor %}
		        </ul>
    		</div>
    	</div>
    </div>
{% endblock %}
{% block arrows %}
	<a href="{{ prev }}" title="Предыдущий раздел" id="leftArrow"></a>
	<a href="{{ next }}" title="Следующий раздел" id="rightArrow"></a>
{% endblock %}