{% extends "base.html" %}

{% block title %}Anno domini - {{ project.name }}{% endblock %}
{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="/static/css/padder-projects.css" />
{% endblock %}
{% block extra_scripts %}
	{% include "util/scrollable.html" %}
{% endblock %}

{% block content %}
	{% load thumbnail %}
	<div id="sub-nav-strip"></div>
	<div id="content">
		<div id="subblock">
			{% include "subnav_project.html" %}
			<div id="article">
				<h1 id="release-heading">{{ project.category.name }}</h1>         	
				<h2>{{ project.name }}</h2><br/>
				{% autoescape off %}
				<div class="project-info">
					<img src="{% thumbnail project.thumbnail 175x75 %}" />
					{% if project.supporting_information %}
					{{ project.supporting_information }}
					{% endif %}			
				</div>
				{% if project.main_text %}
				{{ project.main_text }}
				{% endif %}
				{% endautoescape %}
			</div>
		</div>
	</div>    		
{% endblock %}
{% block arrows %}
	<a href="{{ prev }}" title="Предыдущий раздел" id="leftArrow"></a>
	<a href="{{ next }}" title="Следующий раздел" id="rightArrow"></a>
{% endblock %}
{% block footer %}
	<div id="footer">
		<a href="#" id="toggleContent"></a>
		{% if project.photos.all %}
		<div class="thumbsbar">
			<a class="prev browse left"></a>
			<div class="scrollable" id="scrollable">
				<div class="items">
					<div>
					{% for photo in project.photos.all %}						
						<img src="{% thumbnail photo.image 175x75 %}" alt="{{ photo.image.url }}" />
						{% if forloop.counter|divisibleby:4 %}
					</div>
					<div>
						{% endif %}
					{% endfor %}
					</div>					
				</div>
			</div>
			<a class="next browse right"></a>
		</div>
		{% endif %}
	</div>
{% endblock %}