{% extends "base_about.html" %}

{% block title %}Anno domini - команда - {{ person.name }}{% endblock %}
{% block content %}
	<div id="sub-nav-strip"></div>
	<div id="content">
		<div id="subblock">
			{% include "subnav_about.html" %}
			<div id="article">
				<h1>{{ person.name }}</h1>
				<img src="{{ person.photo.url }}" id="member-photo" />
				{% autoescape off %}{{ person.description }}{% endautoescape %}
			</div>
		</div>
	</div>
{% endblock %}
{% block arrows %}
	<a href="{{ prev }}" title="Предыдущий раздел" id="leftArrow"></a>
	<a href="{{ next }}" title="Следующий раздел" id="rightArrow"></a>
{% endblock %}