{% extends "base_about.html" %}

{% block title %}Anno domini - команда{% endblock %}
{% block content %}
	<div id="sub-nav-strip"></div>
	<div id="content">
		<div id="subblock">
			{% include "subnav_about.html" %}
			<div id="article">
				<h1>Команда</h1>
				{% for person in person_list %}
				<div class="team-list {% cycle 'left' 'right' %}">
					<a href="/about/team/{{ person.slug }}"><img src="{{ person.photo.url }}" /></a>
					<h4><a href="/about/team/{{ person.slug }}">{{ person.name }}</a></h4>
					<p>{{ person.post }}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
{% block arrows %}
	{% include "about/arrows.html" %}
{% endblock %}