body {	background:url('../img/back_noise.jpg');}

img#bg-picture {	visibility: hidden;}	/*override*/
div#overlay {
	position: absolute;
	z-index: -1;
	background: transparent url('../img/bg_camera/shadow_box.png') no-repeat;
	background-size: 100% 100%;
}

.video_background {
	visibility: visible;
	bottom: 115px;
	left: 279px;
	width: 288px;
	height: 166px;
	overflow: hidden;
}

div#bg-medium {
	visibility: visible;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	width: 637px;
	height: 600px;
	background:url('../img/bg_camera/camera.png') no-repeat;
}