body {	background: black;}

img#bg-picture {	visibility: hidden;}	/*override*/
div#overlay {
	position: absolute;
	z-index: -1;
	background: transparent url('../img/bg_cinema/shadow_box.png') no-repeat;
	background-size: 100% 100%;
}

.video_background {
	visibility: visible;
	bottom: 219px;
	left: 187px;
	width: 523px;
	height: 295px;
	overflow: hidden;
}

div#bg-medium {
	visibility: visible;
	bottom: 0px;
	left: 0px;
	z-index: -1;
	width: 949px;
	height: 750px;
	background:url('../img/bg_cinema/cinema.jpg') no-repeat;
}