body {	background-color: black;}

img#bg-picture {	visibility: hidden;}

.video_background {
	visibility: visible;
	top: 0px;
	left: 0px;
	width: 100%;
}
video#bg-video { height: auto;}
div#bg-medium {
	visibility: hidden;
	top: 0px;
	left: 0px;
}