body {	background:url('../img/back_noise.jpg');}

img#bg-picture {	visibility: hidden;}	/*override*/
div#overlay {
	position: absolute;
	z-index: -1;
	background: transparent url('../img/bg_tablet/shadow_box.png') no-repeat;
	background-size: 100% 100%;
}

.video_background {
	visibility: visible;
	top: 85px;
	left: 191px;
	width: 553px;
	height: 416px;
	overflow: hidden;
}
div#bg-medium {
	visibility: visible;
	top: 20px;
	left: 120px;
	z-index: -1;
	width: 688px;
	height: 540px;
	background:url('../img/bg_tablet/tablet.png') no-repeat;
}