body {	background:url('../img/back_noise.jpg');}

img#bg-picture {	visibility: hidden;}	/*override*/
div#overlay {
	position: absolute;
	z-index: -1;
	background: transparent url('../img/bg_smartphone/shadow_box.png') no-repeat;
	background-size: 100% 100%;
}

.video_background {
	visibility: visible;
	top: 100px;
	left: 580px;
	width: 546px;
	height: 309px;
	overflow: hidden;
}
div#bg-medium {
	visibility: visible;
	top: 20px;
	left: 500px;
	z-index: -1;
	width:706px;
	height: 468px;
	background:url('../img/bg_smartphone/smartphone.png') no-repeat;
}