body {	background:url('../img/back_noise.jpg');}

img#bg-picture {	visibility: hidden;}	/*override*/
div#overlay {
	position: absolute;
	z-index: -1;
	background: transparent url('../img/bg_tv/shadow_box.png') no-repeat;
	background-size: 100% 100%;
}

.video_background {
	visibility: visible;
	top: 54px;
	left: 59px;
	width: 721px;
	height: 408px;
	overflow: hidden;
}

div#bg-medium {
	visibility: visible;
	top: 25px;
	left: 25px;
	z-index: -1;
	width: 792px;
	height: 547px;
	background:url('../img/bg_tv/tv.png') no-repeat;
}