﻿@media only screen and (max-device-width: 480px) {
	#overlay { visibility: hidden; }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	#overlay { visibility: hidden; }
}
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}

div:focus { outline:none;}

/*=== Global typography ===*/
h1 {
	font-size: 40px;
	font-family: 'Poiret One', Tahoma, Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	padding-bottom: .7em;
}
h2 {
	font-size: 20px;
	font-family: 'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 1.2em;
	color: #daa669;
	padding-bottom: 1em;
}
h3 {
	font-size: 18px;
	font-family: 'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.4em;
	color: #fabf78;
}
h3 a { 
	color: #fabf78;
}
h3 a:active,
h3 a:hover {
	color: #f7941e;
}
h4 {
	font-size: 18px;
	font-family: 'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: italic;
	line-height: 1.4em;
	color: #fabf78;
}
p {
	font-size: 12px;
	font-family: 'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-weight: 600;
	line-height: 1.4em;
	color: #fff;
	padding-bottom: 1.4em;
}
a {	color: #d1d3d4;}
a:active,
a:hover {	color: #fabf78;}

#nav-main a {
	font-size: 14px;
	font-family: 'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	
	text-decoration: none;
	border-bottom: 2px groove #888;
}
#nav-main a:active,
#nav-main a:hover {
	border-color: #f7941e;
	color: #f7941e;
}
#nav-main a#active {
	border-bottom: 2px groove #f7941e;
	text-decoration:none;
	color: #f7941e;
}

#sub-nav a {
	font-size: 12px;
	font-family: 'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-style: italic;	
	color: #939598;
}
#sub-nav a:active,
#sub-nav a:hover {
	color: #f7941e;
}
#sub-nav a#active {
	/*text-decoration:none;*/
	color: #f7941e;
}
/*=== END OF TYPOGRAPHY ===*/

body {
	background-color:#1a1a1a;
	min-width: 1200px;
	overflow: hidden;
	height: 100%;
}

/*=== HEADER ===*/
div#header {
	width: 100%;
	height: 65px;
	background-color: #000;
}

#logo{
	position: relative;
	top: 5px;
	left: 50px;
	z-index: 10;
	width: 200px;
	height: 53px;
}
#header-bar {
	position: relative;
	bottom: 17px;
	margin: 0 auto 0 auto;
	padding-left: 200px;
	width: 1000px;
}
		/* Primary navigation */
#nav-main div {
	position: relative;
	bottom: 0;
}
#nav-main li {	display: inline;}
#nav-main li  + li {	padding-left: 70px;}
/*=== END OF HEADER ===*/

/*=== SUBNAV AND CONTENT ===*/
div#sub-nav-strip {
	position: absolute;
	z-index:0;
	width:100%;
	height:50px;
	background-color: rgba(0,0,0,0.5);
}
		/* Sub navigation */
div#sub-nav {
	position: relative;
	z-index:1;
	height: 50px;
	padding: 0 60px 0 60px;
	background-color: rgba(0,0,0,0.5);
}
#sub-nav ul {	 padding-top:15px;}
#sub-nav li {	display: inline;}
#sub-nav li + li {	padding-left: 100px;}

div#subblock {
	width: 600px;
	margin: 0 auto;
}

div#article {
	overflow-y: scroll;
	height: 100%;
	width: 480px;
	padding: 30px 60px 0 60px;
	background-color: rgba(0,0,0,0.7);
}

#leftArrow {	
	position: fixed;
	top: 40%;
	left: 0;
	z-index: 1;
	width: 40px;
	height: 140px;
	background: rgba(0,0,0,0.7) url('../img/left_arrow.png') no-repeat center center;
}
#rightArrow {
	position: fixed;
	top: 40%;
	right: 0;
	z-index: 1;
	width: 40px;
	height: 140px;
	background: rgba(0,0,0,0.7) url('../img/right_arrow.png') no-repeat center center;
}
#toggleContent {
	display: block;
	position: absolute;
	top: 75px;
	right: 3%;
	width: 27px;
	height: 27px;
	background: transparent url('../img/hide_content.png') no-repeat center center;
}

div#background {
	position: absolute;
	top: 65px;
	z-index:-2;
	width: 100%;
	min-width: 1200px;
	text-align: center;
	overflow: hidden;
}
img#bg-picture {		
	position: fixed;
	left: 0;
}
div#overlay {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 3;
	background: transparent url('../img/background_pattern.png') repeat left top;
}

.video_background {
	position: absolute;
	visibility: hidden;
}
video#bg-video {
	width: 100%;
	height: 100%;
}
div#bg-medium {
	position: absolute; 
	visibility: hidden;
}

/*== FOOTER ==*/
div#footer {
	width: 100%;
	height: 65px;
	background-color: #000;
}
/*=== Gallery ===*/
div.thumbsbar {
	margin: 0 auto;
	padding-left: 125px;
	padding-top: 25px;
	width: 800px;
	height: 80px;
}
a.browse {
	display: block;
	width: 39px;
	height: 80px;
	float: left;
	margin: 0 10px;
	cursor: pointer;
	font-size: 1px;
}
a.left {
	background: url('../img/gallery_prev.png') no-repeat;
	background-position: center;
	margin-left: 0px;
}
a.right {
	background: url('../img/gallery_next.png') no-repeat;
	background-position: center;
	clear: right;
	margin-right: 0px;
}

.scrollable {
	float:left;
	position:relative;
	overflow:hidden;
	width: 690px;
	height:90px;
}
.scrollable .items {
	width:20000em;
	position:absolute;
}
.items div {	float:left;}
.items div > img {
	border: 1px solid white;
	margin-right: 15px;
	margin-bottom: 1px;
	cursor: pointer;
}
.items .active {
	border: 2px solid #f7941e;
	margin-bottom: 0px;
}

/*=== Photos of team members ===*/
div.team-list.left {
	float: left;
	width: 210px;
	margin-right: 35px;
}
div.team-list.right {
	float: left;
	width: 210px;
}

.team-list img {
	width: 210px;
	height: 210px;
	border: 1px solid #fff;
	background-color: #333;
}

.team-list a {
	color: #fabf78;
}
.team-list a:active,
.team-list a:hover {
	color: #f7941e;
}

/* Team member page*/
img#member-photo {
	width: 210px;
	height: 210px;
	border: 1px solid #fff;
	background-color: #333;
	margin-bottom: 1em;
}

/*=== News list ===*/
ul.news-list {
	clear: both;
	display: block;
}
ul.news-list li {
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}
ul.news-list li img {
	float: left;
	width: 140px;
	height: 105px;
	margin-top: 6px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #fff;
}
ul.news-list li a:hover img,
ul.news-list li a:active img{
	border-color: #fabf78;
}

/*=== News page ===*/
h1#release-heading {
	padding-bottom: 0;
}

#news-source {
	font-style: italic;
	color: #b3b3b3;
}	
#news-source  a{
	font-size: 12px;
	font-family: 'Open Sans', Tahoma, Helvetica, Arial, sans-serif;
	font-weight: 600;
	line-height: 1.4em;
	color: #b3b3b3;
	text-decoration: none;
	border-bottom: 2px ridge #5e5d5f;
}

/*=== Projects ===*/

div.project-list.left {
	float: left;
	width: 310px;
	margin-right: 40px;
	margin-bottom: 30px;
}
div.project-list.right {
	float: left;
	width: 310px;
	margin-bottom: 30px;
}

.project-list img {
	width: 310px;
	height: 200px;
	border: 1px solid #fff;
	border-top: none;
	padding-top: 7px;
	background: #fff url('../img/cinema_stripe.png') no-repeat top center;
}

.project-list a {
	color: #fabf78;
}
.project-list a:active,
.project-list a:hover {
	color: #f7941e;
}

/*=== Projects ===*/
div.project-info {
	width: 100%;
}

div.project-info img {
	float: left;
	width: 180px;
	height: 115px;
	margin: 4px 25px 15px 0;
	border: 1px solid #fff;
	border-top: none;
	padding-top: 7px;
	background: #fff url('../img/cinema_stripe.png') no-repeat top center;
}

p.project-description {
	clear: both;
	padding-top: 20px;
	margin-bottom: 35px;
}

div.project-trailer {	margin-bottom: 35px;}

.project-reviews a {
	font-size: 14px;
	line-height: 2em;
	margin-right: 2em;
}

/*=== jquery scrollpane ===*/

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: transparent;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: transparent;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: transparent;
	position: relative;
}

.jspDrag
{
	background: #fff;
	width: 10px;

	-moz-opacity: 0.40;
	-khtml-opacity: 0.40;
	opacity: 0.40;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=40);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	filter:alpha(opacity=40);
	
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}