{% extends "base_about.html" %}

{% block title %}Anno domini - {{ flatpage.title }}{% endblock %}
{% block content %}	
	<div id="sub-nav-strip"></div>
	<div id="content">
		<div id="subblock">
			{% include "subnav_about.html" %}
			<div id="article">
				<h1>{{ flatpage.title }}</h1>
				<p>{{ flatpage.content }}</p>				
			</div>
		</div>
	</div>
{% endblock %}
{% block arrows %}
	{% include "about/arrows.html" %}
{% endblock %}
