{% extends "base.html" %}

{% block title %}Anno domini - {{ flatpage.title }}{% endblock %}

{% block content %}
	<div id="content">
		<div id="subblock">
			<div id="article">
				<h1>{{ flatpage.title }}</h1>
				<p>{{ flatpage.content }}</p>
			</div>
		</div>
	</div>
{% endblock %}