{% extends "flatpages/default.html" %}

{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="/static/css/padder-production.css" />
{% endblock %}
{% block arrows %}
	<a href="/projects/" title="Предыдущий раздел" id="leftArrow"></a>
	<a href="/product-placement/" title="Следующий раздел" id="rightArrow"></a>
{% endblock %}