{% extends "flatpages/default.html" %}

{% block extra_styles %}
	<link rel="stylesheet" type="text/css" href="/static/css/padder-product-placement.css" />
{% endblock %}
{% block arrows %}
	<a href="/production/" title="Предыдущий раздел" id="leftArrow"></a>
	<a href="/about/" title="Следующий раздел" id="rightArrow"></a>
{% endblock %}